.notesList {
    display: flex;
    flex-direction: row;
}

.newNote {
    border: 2px solid black;
    
}

.intro {
    display: flex;
    align-content: center;
    font-size: 18px;
    background-color: aquamarine;
}

.deleteButton {
    display: flex;
    align-items: flex-end;
}

.noteI {

}